<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create category</title>
    <th:block th:replace="fragments :: head"></th:block>
</head>
<body class="bg-light">

<nav th:replace="fragments :: nav">
</nav>

<div class="d-flex">

    <div th:replace="fragments :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Add Category</h2>

        <div class="card mb-4">
            <div class="card-body">
                <form th:action="@{addCategory}" th:object="${category}" method="post">
                    <div class="form-group">
                        <label for="name">Category name</label>
                        <input type="text" th:field="*{name}" name="name" id="name" class="form-control"  placeholder="Enter category name">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="card mb-4">
        </div>
    </div>


</div>
<th:block th:replace="fragments :: scripts"></th:block>

</body>
</html>